*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
    width: 30vw;
    background-color: #eeeeee;
    padding: 20px;
}
.inputGrp{
    display: flex;
    align-items: center;
    width: 100%;
}
input{
    padding: 0.5rem 1rem;
    flex: 1;
}
button{
    padding: 0.5rem 1rem;
}